<% include ../_header %>

<div class="slider-wrap no-slanted">
    <div class="slider-item" style="background-image: url('img/hero_1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <h1>Это важно знать!</h1>
                    <p class="mb-5" >По данным ООН, в мире ежегодно выбрасывается более 1,3 миллиарда тонн продуктов. Около трети производимой еды превращается в отходы. При этом число голодающих превысило 124 миллиона человек. В широких масштабах фудшеринг позволил бы сохранять экологический баланс и беречь природные ресурсы.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END slider -->
</div>


<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#cf1d16"/></svg></div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>


<script src="js/main.js"></script>
</body>
