<% include ../_header %>

<div class="slider-wrap no-slanted">
    <div class="slider-item" style="background-image: url('img/hero_1.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <h1>Еда</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix mb-5 pb-5 mt-5">
    <div class="row" >
        <div class="col-md-12 text-center heading-wrap">
            <h2>Каталог</h2>
        </div>
    </div>
</div>

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-12">
            <% include ../partials/products %>
        </div>
    </div>
</div>

<% include ../_footer %>
