<!-- </div>     -->
<footer class="site-footer" role="contentinfo">
    <div class="container mb-5">
    </div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3>О нас</h3>
          <p class="mb-5">////////</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-5 mb-5">
          <div class="mb-5">
            <h3>Режим работы</h3>
            <p><strong class="d-block font-weight-normal text-black">Ежедневно</strong>7:00-02:00</p>
          </div>
          <div>
            <h3>Контактная информация</h3>
          </div>
        </div>
        <div class="col-md-3">
        
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> by @Victoria Tishkovskaya 
          </p>
        </div>
      </div>
    </div>
  </footer>
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#cf1d16"/></svg></div>
  
      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/aos.js"></script>
  
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/magnific-popup-options.js"></script>
      
  
      <script src="js/main.js"></script>
</body>
</html>